VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=crown-clothing-fashion.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=crown-clothing-fashion
VITE_FIREBASE_STORAGE_BUCKET=crown-clothing-fashion.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=368841785355
VITE_FIREBASE_APP_ID=1:368841785355:web:2f0aaaa86cc797fd93870e
